body{
    background-color:#51a878;
}
img {
   width:320px;
   height:320px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 20px;
   margin-bottom: 20px;
   border-radius: 50%;
}
.welcoming-min {
    font-size:40px;
    margin: auto;
    width: fit-content;
    padding: 10px;
    font-family: 'Caveat', cursive;
}
#list {
  text-align: center;
}
ul{
    display: inline-block;
    list-style-type: none;
    
}
li{
    display: inline;
}
#item1{
    margin-right: 25px;

}
#item2{
    margin-left: 25px;
    margin-right: 25px;
}
#item3{
    margin-left: 25px;
    margin-right: 25px;
}
#item4{
    margin-left: 25px;
    margin-right: 25px;
}
#item5{
    margin-left: 25px;
}
a:link {
    color: rgb(73, 77, 73);
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: rgb(73, 77, 73);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
  }